<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Information Retrieval</title>
  </head>
  <body>
    <form action="/" method="GET">
        <input type="text" name="query">
        <input type="submit" value="Submit">
    </form>
    <p>{{ count }} results found </p>

    <ul>
    {% for doc in documents %}

    <li>{{ doc.docno }} <br/>
      {% for word in doc.text %}

          {% if word.lower() in words %}
            <span style="background-color:yellow">{{ word }}</span>
          {% else %}
            {{ word }}
          {% endif %}

      {% endfor %}
    </li>
    <br/>
    {% endfor %}
    </ul>

  </body>
</html>